.container {
  width: calc(100% - 80px);
  margin: auto; }

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

.pull-left {
  float: left; }

.pull-right {
  float: right; }

.text-align {
  text-align: center; }

.link {
  height: 16px;
  width: 1px;
  background: #a0a0a0;
  margin: 7px 10px; }

.relative-position {
  position: relative; }

.img-cover, .figure-content .figure-img {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.padding-top-10 {
  padding-top: 10px; }

.padding-top-20 {
  padding-top: 20px; }

.padding-top-30 {
  padding-top: 30px; }

.padding-top-40 {
  padding-top: 40px; }

.padding-top-50 {
  padding-top: 50px; }

.padding-top-60 {
  padding-top: 60px; }

.padding-top-70 {
  padding-top: 70px; }

.padding-top-80 {
  padding-top: 80px; }

.padding-top-90 {
  padding-top: 90px; }

.padding-top-100 {
  padding-top: 100px; }

.padding-bottom-10 {
  padding-bottom: 10px; }

.padding-bottom-20 {
  padding-bottom: 20px; }

.padding-bottom-30 {
  padding-bottom: 30px; }

.padding-bottom-40 {
  padding-bottom: 40px; }

.padding-bottom-50 {
  padding-bottom: 50px; }

.padding-bottom-60 {
  padding-bottom: 60px; }

.padding-bottom-70 {
  padding-bottom: 70px; }

.padding-bottom-80 {
  padding-bottom: 80px; }

.padding-bottom-90 {
  padding-bottom: 90px; }

.padding-bottom-100 {
  padding-bottom: 100px; }

header .logo {
  margin: 30px 0; }
  header .logo img {
    display: block; }
header .menu {
  margin: 15px 0; }
  header .menu div, header .menu a {
    float: right;
    height: 30px;
    line-height: 30px; }
  header .menu span {
    float: right; }
  header .menu a {
    color: #a0a0a0; }
  header .menu a:visited {
    text-decoration: none; }
  header .menu a:hover {
    color: #21b8c6; }
  header .menu a:active {
    color: #ba2636; }
header .lang {
  position: relative;
  width: 70px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  color: #a0a0a0;
  background-color: #f8f8f8; }
  header .lang:hover ul {
    display: block; }
  header .lang ul {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    width: 95px;
    z-index: 10;
    background-color: #f8f8f8; }
    header .lang ul a {
      display: block;
      width: 100%;
      height: 28px;
      line-height: 28px;
      text-align: center; }
      header .lang ul a:hover {
        color: #21b8c6;
        background-color: #e0e0e0; }

nav > ul > li {
  float: left; }
  nav > ul > li > a {
    color: #010101;
    font-weight: bold; }
    nav > ul > li > a::after {
      display: none;
      content: '';
      position: absolute;
      bottom: -6px;
      left: 50%;
      margin-left: -10px;
      z-index: 100;
      border-top: 6px solid #f8f8f8;
      border-left: 6px solid transparent;
      border-right: 6px solid transparent; }
  nav > ul > li.current a {
    background-color: #f8f8f8; }
  nav > ul > li:hover a {
    background-color: #f8f8f8; }
  nav > ul > li:hover a::after {
    display: block; }
  nav > ul > li > ul {
    padding-top: 10px; }
nav > ul > li:nth-child(1):hover a::after, nav > ul > li:nth-child(5):hover a::after {
  display: none; }
nav ul ul {
  display: none;
  position: absolute;
  z-index: 100; }
  nav ul ul a {
    color: #010101;
    line-height: 40px;
    height: 40px; }
    nav ul ul a:hover {
      background: #e0e0e0; }
  nav ul ul ul {
    left: 100%;
    top: 0; }
nav li {
  position: relative; }
  nav li a {
    display: block;
    width: 115px;
    height: 50px;
    line-height: 50px;
    text-align: center; }
  nav li:hover > ul {
    display: block; }

footer {
  padding-top: 70px;
  background: #f8f8f8; }
  footer #copyright {
    line-height: 50px;
    border-top: 1px solid #c5c5c5;
    color: #a0a0a0;
    margin-top: 60px; }
  footer .footer-info a {
    color: #a0a0a0; }
  footer .footer-info h4 {
    margin-bottom: 24px;
    font-size: 24px;
    color: #a0a0a0; }
  footer .footer-info p {
    font-size: 13px;
    color: #a0a0a0;
    line-height: 23px; }
  footer .footer-share {
    margin-top: 38px; }
    footer .footer-share a {
      float: left;
      margin-right: 24px;
      width: 30px;
      height: 30px;
      line-height: 30px;
      text-align: center;
      background-color: #a0a0a0;
      color: white;
      border-radius: 30px;
      position: relative; }
      footer .footer-share a:hover p {
        visibility: visible;
        opacity: 1;
        bottom: 140%; }
    footer .footer-share p {
      position: absolute;
      visibility: hidden;
      opacity: 0;
      -webkit-transition: all 0.3s ease 0s;
      -moz-transition: all 0.3s ease 0s;
      -ms-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s;
      bottom: 120%;
      left: -100%;
      padding: 5px;
      width: 80px;
      height: 80px;
      border-radius: 6px;
      background-color: white;
      filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.16)); }
      footer .footer-share p::after {
        position: absolute;
        bottom: -8px;
        left: 50%;
        transform: translateX(-50%);
        content: "";
        border-top: 8px solid white;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent; }
      footer .footer-share p img {
        width: 100%;
        height: 100%; }
  footer .footer-menu dl {
    float: left;
    margin-left: 30px;
    font-size: 15px; }
  footer .footer-menu dt {
    padding-bottom: 15px;
    padding-right: 30px;
    margin-bottom: 15px;
    border-bottom: 1px solid #c5c5c5;
    line-height: 26px; }
  footer .footer-menu dd {
    line-height: 26px; }
  footer .footer-menu a {
    color: #a0a0a0; }
    footer .footer-menu a:hover {
      font-weight: 400;
      color: #21b8c6; }
  footer .footer-menu .wechat-code {
    width: 110px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center; }
    footer .footer-menu .wechat-code img {
      display: block;
      margin-bottom: 10px;
      width: 100%; }

.title {
  padding: 60px 0 30px 0; }
  .title .main-title {
    text-align: center;
    font-size: 26px;
    font-weight: normal; }
  .title .main-des {
    text-align: center;
    color: #a0a0a0;
    text-transform: uppercase;
    margin-top: 10px; }
    .title .main-des span {
      display: inline-block;
      height: 10px;
      border-left: 1px solid #a0a0a0;
      margin: 0 10px; }

.loading-wait {
  padding: 15px 0;
  text-align: center;
  font-weight: normal; }
  .loading-wait .loading-icon {
    margin-top: 10px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    animation: loading 2s linear infinite; }

.more-link-2 {
  display: block;
  width: 92px;
  color: #010101;
  margin-top: 16px;
  font-size: 14px;
  height: 29px;
  border: 1px solid #010101;
  text-align: center;
  line-height: 29px; }
  .more-link-2 .icon {
    position: relative;
    top: 1px; }

@keyframes loading {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
.tab-menu {
  text-align: center; }
  .tab-menu li {
    display: inline-block;
    border: 1px solid #e2e2e2;
    line-height: 32px;
    height: 32px;
    padding: 0 25px; }
    .tab-menu li.current {
      background-color: #a0a0a0;
      border-color: #a0a0a0; }
      .tab-menu li.current a {
        color: #ffffff; }
    .tab-menu li a {
      color: #a0a0a0; }

.breadcrumbs-img {
  padding: 80px 0;
  background: url("../images/banner.png") no-repeat center;
  color: white; }
  .breadcrumbs-img .breadcrumbs-title {
    margin-bottom: 15px;
    font-size: 30px; }
  .breadcrumbs-img span {
    margin: 0 5px; }
  .breadcrumbs-img a {
    color: white; }

.breadcrumbs-menu {
  border-bottom: 1px solid #f1f1f1; }
  .breadcrumbs-menu li {
    float: left;
    margin-right: 18px; }
  .breadcrumbs-menu a {
    display: block;
    padding: 0 15px;
    font-size: 14px;
    line-height: 35px;
    color: #0b0b0b;
    margin-bottom: -1px; }
    .breadcrumbs-menu a.current {
      color: #21b8c6;
      font-weight: 400;
      border-bottom: 1px solid #21b8c6; }

.row-container {
  overflow: hidden; }
  .row-container div[class^=row-item] {
    float: left;
    box-sizing: border-box; }
  .row-container .row-wrap {
    margin: 0 -15px; }
  .row-container.gutter-15 div[class^=row-item] {
    padding: 0 15px; }
  .row-container .row-item-12 {
    width: 100%; }
  .row-container .row-item-6 {
    width: 50%; }
  .row-container .row-item-3 {
    width: 25%; }
  .row-container .row-item-4 {
    width: 33.33%; }

.figure-content .figure-img img {
  width: 100%; }
.figure-content figcaption {
  font-size: 18px;
  padding-top: 25px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden; }
.figure-content time {
  display: block;
  color: #a0a0a0;
  padding: 11px 0 13px; }
.figure-content .line {
  display: block;
  width: 50px;
  border-top: 1px solid #d9d9d9; }
.figure-content .dec {
  padding-top: 15px;
  margin-bottom: 10px;
  line-height: 22px;
  color: #a0a0a0;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden; }

.pagination {
  margin-bottom: 80px;
  text-align: center; }
  .pagination span, .pagination a {
    display: inline-block;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background-color: #f5f5f5;
    text-align: center;
    font-size: 14px;
    color: #a0a0a0; }
  .pagination span {
    background-color: #21b8c6;
    color: #fff; }

.wrap-item {
  position: relative;
  background-color: #f8f8f8;
  margin: 40px 0 80px 0; }
  .wrap-item .wrap-item-img {
    width: 50%; }
  .wrap-item .wrap-item-content {
    width: 50%;
    box-sizing: border-box;
    padding: 20px 50px; }
    .wrap-item .wrap-item-content:after {
      content: '';
      width: 60px;
      position: absolute;
      left: 50%;
      bottom: -40px;
      transform: translateX(-50%);
      border-top: 1px solid #dddddd; }
  .wrap-item .content-title {
    padding-bottom: 15px; }
  .wrap-item .dec {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden; }

.wrap-item:last-child .wrap-item-content::after {
  display: none; }

.wrap-item:nth-child(2n) .wrap-item-img, .wrap-item:nth-child(2n) .wrap-item-content {
  float: right; }

.wrap-item:nth-child(2n-1) .wrap-item-img, .wrap-item:nth-child(2n-1) .wrap-item-content {
  float: left; }

/*# sourceMappingURL=common.css.map */
